JAXBSchemas-util/src/test/resources/META-INF/schema/one/schema3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="aRootElementWithoutNamespace" type="aRootElementWithoutNamespace"/>

  <xs:complexType name="aRootElementWithNamespace">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="aRootElementWithoutNamespace">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="anElementWithoutNamespace">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

